*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --cor-Destaque: #FCC91C;
}
body
{
    background-color: #000a;
    background-image: url(img/background.png);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; /*Corta pelos pés */

    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

header
{
    /* background-color: aquamarine; */

    height: 100px;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1
{
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

main
{
    /* background-color: rgb(228, 202, 168); */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

section
{
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias table
{
    font-size: 1.5rem;
    border-spacing: 5px;
}

.categorias th
{
    background-color: var(--cor-Destaque);
    height: 50px;
    width: 500px;
    border-radius: 5px;

    font-weight: 400;
}

.categorias td 
{
    background-color: var(--cor-Destaque);
    height: 50px;
    width: 250px;
    border-radius: 5px;

    font-weight: 300;
    padding-left: 30px;
}

.calculadora form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

.calculadora label
{
    color: white;
}

.calculadora .campo
{
    display: flex;
    flex-direction: column;
    position: relative; /*PARA O POSITION ABSOLUTE FUNCIONE ABAIXO*/
}

.calculadora .campo.unidade input
{
    padding-right: 62px;
}

.calculadora .campo.unidade::before
{
    content: attr(data-unidade); /*pedimos para ler o atributo criado*/

    width: 60px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-Destaque);

    position: absolute;
    bottom: 0;
    right: 0;

    border-radius: 0 5px 5px 0; /* CimaEsquerda CimaDireita BaixoEsquerda BaixoDireita*/
}

.calculadora input
{
    height: 40px;
    border: solid 2px var(--cor-Destaque);
    border-radius: 5px;
    background-color: transparent;

    outline: none;
    padding: 0 10px;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.calculadora button
{
    height: 50px;
    
    background-color: var(--cor-Destaque);

    font-size: 1rem;

    border-radius: 5px;
}

.calculadora .resultado
{
    height: 100px;
    background-color: var(--cor-Destaque);
    border-radius: 5px;
    padding: 10px;

    font-style: italic;
}


footer
{
    /* background-color: darkgrey; */

    height: 40px;
    text-align: center;
}

footer span
{
    color: white;
    font-size: .8rem;
    font-style: italic;
    font-weight: 200;
}

@media (max-width: 768px)
{
    .categorias
    {
        display: none;
    }

    h1
    {
        font-size: 2rem;
    }

    .calculadora form
    {
        width: 80%;
    }

        /* body
    {
        height: 200vh;
    }
    main
    {
        flex-direction: column-reverse;
    }

    section
    {
        height: 90vh;
    } */
}